<nav class="navbar navbar-expand-lg nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <img src="assets/img/13.jpg" class="img">
      <ul class="navbar-nav" style="font-size: large">
        <li class="nav-item" (click)="toggleArticleClick()">
          <a class="nav-link active" href="#">Эталоны</a>
        </li>
        <li class="nav-item" (click)="toggleOrderClick()">
          <a class="nav-link" href="#">Акты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main-content" *ngIf="toggleArticle">
  <app-page-soft
    [allSoft]="allSoft"
    (addSoft)="onAddSoft($event)"
    (updateSoft)="onUpdateSoft($event)"
    (deleteSoft)="onDeleteSoft($event)"
    (dateFilterOut)="dateFilter($event)"
  ></app-page-soft>
</div>
<div class="main-content" *ngIf="toggleOrder">
  <app-page-order></app-page-order>
</div>
