<div class="main-content">
  <div class="section__content section__content--p30">
    <h1>База Приказов КЧ</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <app-filter-data
            (dateFilterOut)="dateFilter($event)"
          ></app-filter-data>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
              <app-statistics-order
                [statArray]="statArray"
              ></app-statistics-order>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-table-order
            [orders]="allOrder"
            (addOrder)="onAddOrder($event)"
            (updateOrder)="onUpdateOrder($event)"
            (deleteOrder)="onDeleteOrder($event)"
          ></app-table-order>
        </div>
      </div>
    </div>
  </div>
</div>

